<head>
	<title>YelpCamp App</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/home.css"
</head>

<div id="landing">
<h1>Welcome to Yelpcamp</h1>
<a id="campbutton" class="btn btn-primary btn-lg" href="/campgrounds" role="button">View Campground</a>
</div>
<ul id="slideshow">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>