
<%include ./partials/header%>
<div class="container-fluid text-center">
<h1>Create A New Campground</h1>
<h6>Let People know about your favorite Campground</h6>
</div>

<form style="width:40rem;" id="form" action="/campgrounds" method="POST">
  <div class="form-group">
    <label for="exampleInputEmail1">Post Title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="campground[title]" placeholder="POST TITLE">
  </div>
   <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" name="campground[body]" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">Image Url</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="campground[image]" placeholder="Image">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>

<%include ./partials/footer%>
